$('#microposts').prepend("<span class='new' style='display:none'>(<%= time_ago_in_words(@micropost.created_at) %> ago) <%= @micropost.content %></span><br>");
$('.new').toggle('highlight');
$('.new').removeClass('new');