$('#microposts').prepend("<span class='new' style='display:none'>(vor <%= time_ago_in_words(@micropost.created_at) %>) <%= @micropost.content %></span><br>");
$('.new').toggle('highlight');
$('.new').removeClass('new');